

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


mat-toolbar.mat-primary {
    background-color: #3547A9; // Exemplo de cor azul
    color: white; // Cor do texto
  }


 